{
  "presets": [
    ["env",{
      "presets": [
        "env",
        {
          "targets": {
            "browsers": ["last 3 versions", "ie >= 10", "safari >= 7"]
          }
        },
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread"
      ]
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
